Flask==2.1.1
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.1.0
psycopg2-binary==2.9.3
FPDF==1.7.2  # If you're using FPDF for PDFs
gunicorn>=20.1.0
werkzeug==2.0.3  # or another compatible version
python-dotenv
flask_cors
SQLAlchemy==1.4.16
reportlab
requests
boto3==1.24.9

