{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h3 class="text-dark text-center">Set Password</h3>
    <br>
    {% if notif %}
        <p class="alert alert-primary border text-center"><strong>{{ notif }}</strong></p>
    {% endif %}
    <form action="/set_password" method="post">
        <div class="form-group">
            <input autofocus autocomplete="off" class="form-control" name="password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="confirm" placeholder="Confirm Password" type="text">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}